beautifulsoup4==4.10.0
black==24.3.0
dateparser==1.1.1
isort==5.8.0
peewee==3.17.6
Pillow==10.2.0
pre-commit-hooks==4.0.1
pre-commit==2.13.0
py-trello==0.18.0
python-telegram-bot==13.13
requests==2.31.0
urllib3==1.26.15
